/* Contact Us Page */
.content.contact-bg {
  background-color: var(--accent-color);
}

.contact-us-content {
  color: var(--white);
  padding: 20px 45px;
  border-radius: 10px;
}

.contact-us-content h2 {
  font-family: var(--secondary-font);
  font-size: 48px;
}

.contact-us-content p {
  text-align: justify;
  width: 100%;
  max-width: 800px;
}

/* Contact Details */
.contact-details {
  margin-top: 15px;
}

.contact-details p {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.contact-icon {
  font-size: 18px;
  margin-right: 10px;
}
.contact-link {
  color: #003366;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-details .address,
.contact-details .email,
.contact-details .phone {
  font-weight: 600;
  font-size: 16px;
}

.sidebar-pink {
  background-color: var(--highlight-color) !important;
}
