/* Swiper Styling */
.team-swiper {
    /* width: 100%; */
    height: var(--swiper-height);
    /* overflow: hidden !important; */
    padding: 10px 0;
    /* margin-bottom: 20px; */
  }
  @media  screen and  (min-width:320px)  {
    .swiper{
      overflow: visible !important;
    }
  }
  
  .team-slide {
    border-radius: 10px;
    text-align: center;
    height: 100%;
  }
  
  .team-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover; 
  }
 
  

  
  