/* Personal Details Page */
.content.personal-bg {
  background-color: var(--highlight-color);
}

.personal-details-content {
  color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.personal-details-content h2 {
  font-family: var(--secondary-font);
  font-size: 48px;
  margin: 16px 0px 16px 0px;
}

.personal-details-form .form-group {
  width: 461px;
  align-items: center;
  border-radius: 8px;
  height: 56px;
  margin-bottom: 19px;
  display: block;
}

.personal-details-form .icon {
  margin-right: 10px;
  font-size: 16px;
  color: var(--main-color);
}

.personal-details-form input {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  flex: 1;
  height: 100%;
  padding: 0 10px;
}

.personal-details-form input::placeholder {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
}

.personal-details-form textarea {
  width: 461px;
  height: auto;
  min-height: 80px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}

.personal-details-form textarea::placeholder {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
}

.personal-details-btn {
  width: 100%;
  max-width: 461px;
  background-color: #0077b6;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.personal-details-btn:hover {
  background-color: #023e8a;
}

.personal-details-form input,
textarea:focus {
  border: none;
  outline: none;
}

.personal-details-form .form-control:focus {
  box-shadow: none;
}

/* Error message with reserved space */
.error-msg {
  color: #fff9c4;
  font-size: 14px;
  font-weight: 600;
  /* margin-bottom: 20px; */
  display: block;
}

/* Ensure space is always reserved for error message */
.personal-details-form {
  padding-bottom: 60px; /* Adjust as needed to reserve space */
}

.icon-container {
  display: flex;
  background: white;
  padding: 12px;
  border-radius: 6px;
  align-items: center;
}

.submit-btn {
  margin-top: 38px;
}
