/* Sidebar Styling */
.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--secondary-font); 
    font-weight: 400;
    font-size: 24px;
    padding: 20px;
    flex-shrink: 0;
    width: var(--sidebar-width); 
    height: 100vh;
    position: sticky;
    top: 0;
    transition: transform 0.5s ease;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1); 
  }
  
  .sidebar.left-sidebar {
    background-color: var(--white); 
    color: var(--black); 
  }
  
  .sidebar.right-sidebar {
    background-color: var(--accent-color); 
    color: var(--white); 
  }
  
  .sidebar .nav-link {
    color: inherit;
    transition: 0.3s;
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    line-height: 43.46px;
  }
  
  .sidebar .nav-link:hover {
    color: var(--black); 
  }